APP_NAME=Mini HRMS System
PORT=8000
FRONTEND_URL=http://localhost:3000
BACKEND_URL_URL=http://localhost:8000
DATABASE_HOST=localhost
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_PORT=3306
DATABASE_NAME=mini_hrms_db
